<div class="row">
  <div class="col-md-12">
    <h2 class="animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">Me contacter</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-7">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

      <input type="text" formControlName="contactFormName" id="defaultContactFormName" mdbInput
             class="form-control mb-4" placeholder="Nom">

      <input type="email" formControlName="contactFormEmail" id="defaultContactFormEmail" mdbInput
             class="form-control mb-4" placeholder="E-mail">

      <div class="form-group">
    <textarea formControlName="contactFormMessage" class="form-control rounded-0" mdbInput
              id="exampleFormControlTextarea2"
              rows="3" placeholder="Message"></textarea>
      </div>

      <button mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect"
              mdbWavesEffect type="submit" [disabled]="disabledSubmitButton">Envoyer
      </button>

    </form>
  </div>
  <div class="col-md-5">
    <div class="animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
      <div class="colorlib-icon">
        <i class="icon-globe-outline"></i>
      </div>
      <div class="colorlib-text">
        <p><a href="#"></a></p>
      </div>
    </div>

    <div class="animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
      <div class="colorlib-icon">
        <i class="icon-map"></i>
      </div>
      <div class="colorlib-text">
        <p>Gbenou Nicolas</p>
        <p>122 rue Barreyre, 33300 Bordeaux</p>
      </div>
    </div>

    <div class="animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
      <div class="colorlib-icon">
        <i class="icon-phone"></i>
      </div>
      <div class="colorlib-text">
        <p><a href="tel://"></a></p>
      </div>
    </div>
  </div>
</div>
