<div class="row">
  <div class="col-md-12">
    <span class="heading-meta">Read</span>
    <h2 class="animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">Get in Touch</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-7">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-md-pull-1 animate-box fadeInLeft animated"
           data-animate-effect="fadeInLeft">
        <form class="text-center border border-light p-5" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

          <p class="h4 mb-4">Contact us</p>

          <!-- Name -->
          <input type="text" formControlName="contactFormName" id="defaultContactFormName" mdbInput
                 class="form-control mb-4" placeholder="Name">

          <!-- Email -->
          <input type="email" formControlName="contactFormEmail" id="defaultContactFormEmail" mdbInput
                 class="form-control mb-4" placeholder="E-mail">

          <!-- Subject -->
          <label>Subject</label>
          <select formControlName="contactFormSubjects" class="browser-default custom-select mb-4">
            <option value="" disabled>Choose option</option>
            <option value="1" selected>Feedback</option>
            <option value="2">Report a bug</option>
            <option value="3">Feature request</option>
            <option value="4">Feature request</option>
          </select>

          <!-- Message -->
          <div class="form-group">
    <textarea formControlName="contactFormMessage" class="form-control rounded-0" mdbInput
              id="exampleFormControlTextarea2"
              rows="3" placeholder="Message"></textarea>
          </div>

          <!-- Copy -->
          <div class="custom-control custom-checkbox mb-4">
            <input formControlName="contactFormCopy" type="checkbox" class="custom-control-input"
                   id="defaultContactFormCopy">
            <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
          </div>

          <!-- Send button -->
          <button mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect"
                  mdbWavesEffect type="submit" [disabled]="disabledSubmitButton">Send
          </button>

        </form>
      </div>

    </div>
  </div>
  <div class="col-md-5">
    <div class="animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
      <div class="colorlib-icon">
        <i class="icon-globe-outline"></i>
      </div>
      <div class="colorlib-text">
        <p><a href="#">info@domain.com</a></p>
      </div>
    </div>

    <div class="animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
      <div class="colorlib-icon">
        <i class="icon-map"></i>
      </div>
      <div class="colorlib-text">
        <p>198 West 21th Street, Suite 721 New York NY 10016</p>
      </div>
    </div>

    <div class="animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
      <div class="colorlib-icon">
        <i class="icon-phone"></i>
      </div>
      <div class="colorlib-text">
        <p><a href="tel://">+123 456 7890</a></p>
      </div>
    </div>
  </div>
</div>
