ng-component {
  display: flex;
  flex-wrap: wrap;
}
.about-img {
  width: 75%;
  height: 450px;
}
.about-img .about-img-2 {
  width: 100% !important;
  height: 390px;
  position: absolute;
  top: 80px;
  right: -100px;
  width: 80%;
  -webkit-box-shadow: 0px 35px 78px -23px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 35px 78px -23px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 35px 78px -23px rgba(0, 0, 0, 0.33);
}
.about-img, .about-img-2 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.about-img {
  background-image: url('../img/img_bg_2.jpg');
}
.about-img-2 {
  background-image: url('../img/img_bg_3.jpg');
}