<div class="container">
  <div class="row">
    <nav class="col-md-2 sidebar">
      <h1><img width="80" src="/assets/img/logo.svg"/></h1>

          <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" routerLink="home">Accueil</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="works">Réalisations</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="services">Services</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="contact">Contact</a></li>
          </ul>

    </nav>
    <main class="col-md-10" role="main">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>

