<div class="container">
  <div class="row">
    <nav class="navbar navbar-expand-md col-md-2 navbar-light bg-white sidebar-bloc">
      <h1><img width="80" src="/assets/img/logo.svg"/></h1>
      <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [ngClass]="{'show': navbarOpen}">
          <ul class="navbar-nav flex-column">
            <li class="nav-item"><a class="nav-link" routerLink="home">Accueil</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="works">Réalisations</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="contact">Contact</a></li>
          </ul>
      </div>
    </nav>
    <main class="col-sm-12 col-md-10 ml-sm-auto px-4" role="main">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>

