<div class="col-md-6">
  <div class="about-img animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
    <div class="about-img-2 animate-box fadeInRight animated" data-animate-effect="fadeInRight"></div>
  </div>
</div>
<div class="col-md-6 animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
  <div class="about-desc">
    <h3>Bonjour !</h3>
    <p>Je suis Nicolas, spécialisé dans le développement web et particulierment friand des projets ecommerce.</p>
    <p>J'aime travailler sur la partie back comme la partie front. Je maîtrise les technologies web actuelles comme PHP, Symfony
      HTML5,CSS3, Javascript (Angular).</p>
    <p>Je me suis également formé sur la partie front en deployant des applis (avec Typescript, ES6/ES7)</p>
  </div>
</div>
