<div class="col-md-6 animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
  <div class="project" style="background-image: url(images/work-1.jpg);">
    <div class="desc">
      <div class="con">
        <h3><a href="work-single.html">Work 01</a></h3>
        <span>Branding, Ilustration</span>
        <p class="icon">
          <span><a href="#"><i class="icon-share3"></i></a></span>
          <span><a href="#"><i class="icon-eye"></i> 100</a></span>
          <span><a href="#"><i class="icon-heart"></i> 49</a></span>
        </p>
      </div>
    </div>
  </div>
</div>
