<div class="row">
  <div class="col-md-6 col-md-offset-3 col-md-pull-3">
    <h2>Dernières réalisations</h2>
  </div>
</div>
<div class="row">
  <div *ngFor="let work of works" class="col-md-6">
    <div class="project" >
      <img class="img-fluid" src="/assets/img/{{ work.photo }}" />
      <div class="desc">
        <div class="con">
          <h3><a href="{{ work.url }}">{{ work.title }}</a></h3>
          <div class="content-desc">{{ work.desc }}</div>
          <p class="icon">{{ work.hashtag }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
